body {
    background: url(image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.navbar {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    font-family: arial;
    font-size: 15px;
    border-bottom: 2px solid #f8f7f7;
    margin-left: 0;
    padding: 4px 0;
}

.nav {
    float: right;
    padding: 10px;
}

ul li {
    display: inline-block;
    margin-right: 50px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    padding: 25px;
    color: white;
}

.logo {
    float: left;
    color: white;
    font-size: 15px;
    padding: 20px;
}

ul li:hover {
    transform: scale(1.1);
}

.text {
    text-align: center;
    padding: 200px;
    color: white;
}

.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.floating-button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
}